@import "./_fonts";
@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
}

main {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
}

.feedback {
  display: grid;
  gap: 50px;
  grid-template-columns: 51.6% 1fr;
  background-color: #292929;
  padding: 25px 9.375%;
}

.feedback__join {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__title {
  @include footerfont1-1;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.feedback__form {
  display: flex;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.feedback__form-input {
  @include textfont3-1;
  min-width: 200px;
  line-height: 1.12;
  padding: 17px 14px 12px;
  border: none;
}

.feedback__form-btn {
  @include headerfont2-5;
  padding: 17px 19px 15px;
  background-color: #f07fae;
  line-height: 1.12;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}

.feedback__form-btn:hover {
  opacity: 0.6;
}

.feedback-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-phone {
  display: flex;
  flex-direction: column;
}

.feedback__btns {
  display: flex;
}

.phone {
  display: flex;
}

.phone__number {
  @include footerfont1-1;
  line-height: 1;
  padding: 0;
  margin: 0 0 7px 10px;
}

.contact-phone__text {
  @include footerfont1-2;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.feedback__btn {
  @include headerfont2-5;
  padding: 17px 20px 15px;
  line-height: 1.12;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  transition: 0.6s;
  margin-right: 10px;
}

.feedback__btn:hover {
  opacity: 0.6;
}

.feedback__btn:last-child {
  margin-right: 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  padding: 46px 9.375% 40px;
}

.footer__logo_type_big {
  max-height: 91px;
}

.footer__logo_type_small {
  display: none;
  max-width: 270px;
  max-height: 56px;
}

.footer__info {
  display: flex;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  margin-right: 90px
}

.footer__column:last-of-type{
  margin-right: 77px;
}

.footer__column-heading {
  @include footerfont1-1;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.footer__contact {
  padding-left: 30px;
}

.footer__column-item {
  list-style: none;
}

.footer__column-links {
  padding: 0;
  margin: 9px 0 0;
}

.footer__column-link {
  @include textfont2-2;
  line-height: 1.88;
  text-decoration: none;
}

.footer__column-link:hover {
  text-decoration-line: underline;
}

.contact {
  margin: 9px 0 19px;
}

.contact__text {
  @include textfont2-2;
  line-height: 1.88;
}

.contact__text_color_pink {
  margin: 10px 0;
  color: #f07fae;
}

.social-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icon {
  list-style: none;
  margin-right: 20px;
}

.social-icon__link {
  cursor: pointer;
  transition: 0.6s;
}

.social-icon__link:hover {
  opacity: 0.6;
}

.footer__copyright {
  @include textfont2-3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  padding: 20px 9.375% 15px;
  line-height: 1.1;
}

.footer__copyright-text {
  margin: 0;
  padding: 0;
}

.footer__author {
  margin: 0;
  padding: 0;
}

.pay-card {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pay-card__item {
  list-style: none;
  margin-right: 11px;
}

.pay-card__item:last-child {
  margin-right: 0;
}

.popup {
  margin: auto;
  min-width: 100%;
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.popup_opened {
  display: flex;
  opacity: 1;
  transition: visibility .5s linear, opacity .5s linear;
  visibility: visible;
}

.popup_closed {
  display: none;
}

.popup__container {
  display: flex;
  margin: 30px auto;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 460px;    
  padding: 80px 80px;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popup__container_without_form {
  padding-left: 26px;
  padding-right: 26px
}

.popup__close {
  position: absolute;
  top: 27px;
  right: 17px;
  width: 16px;
  height: 16px;
  background-image: url(../img/img_form/close-icon.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease-in;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__title {
  @include headerfont1-2;
  line-height: 0.6;
  margin-bottom: 29px;
  text-align: center;
}

.popup__title_size_big {
  line-height: 1;
  margin-top: 28px;
  margin-bottom: 10px;
}

.popup__subtitle {
  @include formfont1-2;
  max-width: 310px;
  line-height: 1;
  text-align: center;
}

.popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.popup__input {
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  width: 300px;
  @include textfont3-1;
  line-height: 1.12;
  padding: 18px 0 14px 19px;
  margin-bottom: 10px;
}

.popup__control {
  position: relative;
}

.popup__input-control {
  position: absolute;
  background: url(../img/img_form/not-visible-img.svg);
  width: 16px;
  height: 16px;
  right: 21px;
  bottom: 25px;
}

.popup__input:focus {
  outline: none;
}

.popup__submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__submit_align_start {
  justify-content: flex-start;
}

.popup__submit-button {
  background-color: #F07FAE;
  width: 161px;
  color: #FFFFFF;
  @include headerfont2-5;
  line-height: 1.12;
  padding: 17px 0 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}

.popup__submit-button:hover {
  opacity: 0.6;
}

.popup__submit-text {
  @include formfont1-1;
  line-height: 1.12;
  margin-left: 14px;
}

.popup__register {
  display: flex;
  align-items: center;
  margin-top: 15px;
  @include textfont3-1;
  line-height: 1.12;
  width: 300px;
}

.popup__link {
  @include textfont3-1;
  line-height: 1.12px;
  padding-left: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 31px;
}

.login__title {
  @include headerfont1-4;
  line-height: 0.9;
  margin: 0 0 16px;
}

.login__list {
  display: flex;
}

.login__list-item {
  list-style: none;
  margin-right: 10px;
}

.login__list-item:last-of-type {
  margin-right: 0;
}

.login__link {
  transition: 0.6;
}

.login__link:hover {
  opacity: 0.6;
}


@media screen and (max-width: 1439px) {
  .feedback {
    padding: 25px 2.735% 22px;
  }
}

@media screen and (max-width: 1023px) {
  .feedback {
    grid-template-columns: 47.52% 1fr;
    gap: 19px;
  }

  .feedback__join {
    flex-direction: column;
  }

  .feedback-contact {
    flex-direction: column;
    align-items: flex-end;
  }

  .feedback__title {
    margin-bottom: 14px;
  }

  .feedback__form-input {
    min-width: 214px;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .feedback__form-btn {
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .contact-phone {
    flex-direction: row;
    justify-content: space-around;
    min-width: 361px;
    margin-bottom: 11px;
  }

  .phone__number {
    margin-bottom: 0;
  }

  .feedback__btn {
    padding: 15px 30px 12px;
  }

  .footer__logo_type_big {
    display: none;
  }

  .footer__logo_type_small {
    display: block;
  }

  .footer__columns {
    padding: 20px 2.735%;
    flex-direction: column;
  }

  .footer__info {
    margin-top: 24px;
  }

  .footer__column {
    margin-right: 70px;
  }

  .footer__column:nth-last-of-type(2) {
    margin-right: 84px;
  }

  .footer__column:last-of-type {
    margin-right: 56px;
  }

  .footer__contact {
    padding-left: 0;
  }

  .footer__copyright {
    padding-left: 2.735%;
    padding-right: 2.735%;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .feedback {
    padding: 20px 4.69% 17px;
    grid-template-columns: 48.28% 1fr;
    gap: 10px;
  }

  .feedback__title {
    font-size: 16px;
    line-height: 1.12;
    margin-bottom: 9px;
    text-align: center;
  }

  .feedback__form {
    flex-direction: column;
    width: 140px;
    border: none;
  }

  .feedback__form-input {
    min-width: 140px;
    padding: 7px 9px 5px;
    font-size: 14px;
    margin-bottom: 4px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

  .feedback__form-btn {
    padding: 6px 29px;
    font-size: 14px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }

  .contact-phone {
    flex-direction: column;
    margin-bottom: 7px;
    min-width: 140px;
  }

  .phone__img {
    width: 16px;
    height: 16px;
  }

  .phone__number {
    font-size: 16px;
    margin-left: 8px;
  }

  .contact-phone__text {
    margin-top: 1px;
    font-size: 14px;
  }

  .feedback__btns {
    flex-direction: column;
  }

  .feedback__btn {
    padding: 6px 17px ;
    font-size: 14px;
    margin-right: 0;
  }

  .feedback__btn:first-of-type {
    margin-bottom: 4px;
  }

  .footer__info {
    margin-top: 26px; 
  }

  .footer__nav {
    flex-direction: column;
  }

  .footer__columns {
    padding-bottom: 10px;
  }

  .footer__column {
    margin-right: 41px;
  }

  .footer__column-heading {
    font-size: 16px;
    line-height: 1.12;
  }

  .footer__column-links {
    margin-top: 2px;
    margin-bottom: 14px;
  }

  .footer__column-link {
    font-size: 14px;
    line-height: 1.57;
  }

  .contact__text {
    font-size: 14px;
    line-height: 1.43;
  }

  .contact {
    margin-top: 4px;
    margin-bottom: 14px;
  }

  .footer__copyright {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 4.69%;
    line-height: 1.79;
  }
  
  .pay-card {
    position: absolute;
    right: 20px;
    top:-46px;
  }
}

@media screen and (max-width: 424px) {
  .popup__container {
    margin-top: 0;
    padding: 40px 15px;
  }

  .popup__container_without_form {
    padding-left: 37px;
    padding-right: 37px;
  }

  .popup__title {
    @include headerfont1-4;
    align-self: flex-start;
    line-height: 0.9;
    margin-bottom: 16px;
  }

  .popup__title_size_big {
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .popup__input {
    width: 290px;
    max-height: 113px;
  }

  .popup__subtitle {
    max-width: 246px;
  }

  .popup__register {
    justify-content: center;
  }
}